html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
  transition: color 0.4s ease;
}

* {
  box-sizing: border-box;
}

.layout-container{
  position:relative;
  margin-top: 111px;
  padding-top: 1.5rem;
}
.landing {
  height: calc(100vh - 111px);
  padding: 5rem 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home{
  height: calc(100vh - 111px);
}
.breadCrumb-container{
  position: fixed;
  top: 61px;
  left: 0;
  z-index:100;
  display: flex;
  align-items: center;
  background: #1e2326;
}
.breadCrumb{
  margin-left: 10%;
  margin-top: 10px;
}
.breadCrumb-item a{
  color:rgb(157, 157, 163);
  font-weight: 500;
}
.breadCrumb-item a:hover, .breadCrumb-item.active a{
  color: rgb(233, 233, 241);
  font-weight: 600;
}
.custom-card{
  margin-top: 50px;
  border: 1px solid rgb(149 145 145 / 13%);
}
.custom-card .cardHeader{
  border-bottom: 1px solid rgb(149 145 145 / 13%);
  background-color: #e8e7ed;
}
 .cardHeader  .cardTitle, .tableTitle{
  color: #4c4b4e;
}
.custom-card a{
  font-size: 1.3rem;
  color: rgb(100, 101, 114);
  font-weight: 500;
}
.Badge{
  margin-left: .4rem;
}
.custom-card a:hover{
  color: #354266;
}
.custom-card .privacityBadge{
  font-size: .9rem;
}
.Table-container{
  padding: 0;
  margin-top: 1.8rem;
}
.Table{
  border-radius: 5px;
}
.Table thead{
  color: #636264;
}
.Table tbody{
  border-top: 1px solid #d2d2d4 !important;
}
/* 
@media (max-width: 768px) {
  .Table{
  width: 700px;
  min-width: 700px;
  max-width: 700px;
  box-shadow: none !important;
  margin-top: 0;
}
  .Table-container{
  position: absolute;
  top:100px;
  padding: 0;
  max-width: 540px;
  width: 90%;
  height: 500px;
  overflow-y: scroll;
  overflow-x: auto;
}
}}*/